* {
  box-sizing: border-box;

}

body {
  height: 100vh;
}


.main {
  max-height: 796px;
}

.main-article {
  padding: 30px 0;

  background-color: rgb(249, 249, 249);
}

.login {
  width: 350px;
  margin: 15px auto;
  background-color: white;
  padding: 10px 0px;
  border: 1px solid rgb(214, 214, 214);
}

.insta-logo {
  width: 200px;
  height: 80px;
  margin: 27px auto 24px;
  display: block;
}

.login input {
  background-color: rgb(249, 249, 249);
  width: 268px;
  height: 36px;
}

.login input:last-child {
  margin-bottom: 15px;

}

.login span {
  display: block;
}

.bt-login button {
  background-color: rgb(0, 139, 240);
  border: none;
  border-radius: 4px;
  color: white;
  display: inline-block;
  font-size: 15px;
  width: 268px;
  height: 30px;
  margin-bottom: 15px;
}

.login a {
  text-decoration: none;
}

.or-line {
  margin-bottom: 15px;
  ;
}

.facebook {
  color: rgb(48, 72, 120);
  font-size: 15px;

  margin-bottom: 15px;
}

.facebook img {
  width: 17px;
  padding-top: 0, 5px;
}

.forgot-pw {
  color: rgb(100, 129, 156);
  text-align: center;
  font-size: small;
}


/* Signup box */
.signup {
  background-color: white;
  font-size: small;
  border: 1px solid rgb(214, 214, 214);
  margin: 0 auto;
  text-align: center;
  width: 350px;
  height: 61px;
}

.signup a,
strong {
  margin: 10px auto;
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 137, 237);
}


/* get the app */

.getapp {
  margin: 0 auto;
  width: 350px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.getapp p {
  font-size: small;
  text-align: center;
}

.store a {
  text-decoration: none;
}

.store img {
  /* display: inline-block; */
  width: 136px;
  height: 40px;
}


/* Footer */

.main-footer {
  width: 100%;
  background-color: rgb(249, 249, 249);
}

.main-footer a {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  color: rgb(133, 133, 133);
  font-size: small;
}

.main-footer a::after {
  content: '';
  margin-right: 10px;
}

.sec-line {
  margin-bottom: 20px;
}

@media screen and (max-width:878px) {
  .images {
    display: none;
  }


}